<?xml version='1.0' encoding='utf-8'?>
<widget id="com.golum.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Golum</name>
    <description>Golum Golum Golum</description>
    <author email="fantasybl8@gmail.com">PhoneGap Team</author>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <preference name="android-windowSoftInputMode" value="adjustPan" />
    <icon src="www/icons/favicon.png" />
    <config-file mode="merge" parent="/manifest/application" platform="android">
        <activity android:name="Golum" android:theme="@android:style/Theme.Material.Light" />
    </config-file>
    <platform name="android">  
	    <icon src="www/res/icon/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="www/res/icon/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="www/res/icon/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="www/res/icon/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="www/res/icon/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/ic_launcher.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/ic_launcher@2x.png" width="114" />
        <icon height="180" platform="ios" src="www/res/icon/ios/ic_launcher@3x.png" width="180" />
    </platform>
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <gap:plugin name="cordova-plugin-googleplus" source="npm">
        <param name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.567008101486-tle9u2u38ffh2u2of3bj1287ahsor2vr" />
    </gap:plugin>
    <plugin name="phonegap-plugin-push" spec="~1.10.5">
        <variable name="SENDER_ID" value="567008101486" />
    </plugin>
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
</widget>
