body {
border-image:-webkit-linear-gradient(left, yellow 20%, green) 10;
border-style:solid;
border-width:8px;
border-bottom:none;
border-left:none;
border-right:none;
box-shadow: 0 1px 0 rgba(0,0,0,1) inset;
position:relative;
z-index:1;
}

#megaContainer {
padding-left:0 !important;	
}

#megaContainer .container {
height:100%;	
width:100%;
}

#loginAndSignUpContainerParent {
width:100%;	
height:100%;	
margin:0;
padding:20px 0 0 0;
position:relative;
}

#loginAndSignUpContainer {
width:95%;
height:75%;
min-height:520px;
overflow:hidden;
margin:0;
padding:0;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
}

#mascot_container {
width: 100%;
position:absolute;
top:0;
}

#mascot_container img {
width:160px;
height:160px;
position:relative;
left:50%;
transform: translate(-50%,0);	
-webkit-animation:mascot_animation .4s ease-out 0s 1 normal forwards; 
}

@keyframes mascot_animation {

0% {
transform: translate(-50%,0) scale(.7);	
}

100% {
transform: translate(-50%,0) scale(1);	
}
	
}

 
.forms {
height:calc(100% - 161px);	
margin:0;
padding-bottom:5% !important;
margin-top:181px; /* compensate for the height of #mascot_container + 20px (additional margin because it looks better this way) */
} 

.smallDivider {
margin:30px 0;
height:1px;
background-color:#ebeaea;	
}

.forms .input-field {
margin-top:0;	
}


.forms .character-counter {
color:#e2e2e2;	
}

.formLinkContainer {
margin-top:15px;	
}

.formLinks {
color:black;
font-size:90%;
font-weight:500;
}

/* these are titles for inputboxes */
   
.formTitle {
display:inline-block;	
position:relative;
top:-20px;
left:50%;
transform:translate(-50%,0%);	
}

.formTitle h5 {
display:inline-block;	
color:yellowgreen;
background-color:white;
padding:8px 20px;
border-radius:25px;
font-size:150%;
font-weight:bold;
letter-spacing:5px;
text-transform:uppercase;
text-align:center;
}

#signUpForm {
display:none;	
}

#switchFormsButton {
position:absolute;
left:0;
bottom:0;
background:transparent;
color:black;
box-shadow:none;
width:100%;
margin:0;
font-size:120%;
font-weight:bold;
letter-spacing:2px;
}

.character-counter {
margin-top:-15px !important;	
}




#forgotPasswordModal .modal-content {
padding:0;	
}

#forgotPasswordModal .modal-content .row {
height:100%;	
}

#forgotPasswordModal .modal-content .input-field {
position:relative;
top:45%;
transform:translate(0,-50%);	
}


#social_logins_container {
display:inline-block;
margin:0;
margin-top:5px;
position:relative;
left:50%;
transform:translate(-50%,0%);	
}



#google_login {
background:url("../icons/social_buttons/google_sign_in_light.png");
background-size:191px 46px;
border-radius:4px;
width:191px;
height:46px;	
transition:background .1s ease-out;
}

#google_login:focus {
background:url("../icons/social_buttons/google_sign_in_light_focus.png");		
background-size:191px 46px;
}

#google_login:active {
background:url("../icons/social_buttons/google_sign_in_light_active.png");	
background-size:191px 46px;
}

.image_social_button {
background:none;
border:none;	
}
